/* .animate for number popover*/

@font-face {
    font-family: chawp;
    src: url(../fonts/chawp.ttf);
    font-weight: bold;
}
@font-face {
    font-family: southpark;
    src: url(../fonts/southpark.ttf);
    font-weight: bold;
}
@font-face {
    font-family: SqueakyChalkSound;
    src: url(../fonts/SqueakyChalkSound.ttf);
    font-weight: bold;
}

body {
	background: url('../images/south-park.jpg')no-repeat center center fixed;
	background-size: cover;
	/*font-family: chawp;*/
	height: 100%;
}

.main-header {
	margin-bottom: 25px;
	font-family: southpark;
	color: white;
}
.main-header h1 {
	font-size: 3em;
	-webkit-text-stroke: 1px black;
}

.start-well {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12em;
}

.start {
	font-size: 3em;
	height: 2em;
	width: 4em;
}

.blackBoard {
/*	background: url('../images/chalkboard.jpg')no-repeat center center fixed;
	background-color: black;*/

}

.timerText {
	position: absolute;
    right: 10px;
}
.timer {
    position: relative;
    top: -20px;
}

.question-display {
	display: flex;
	justify-content: center;
	align-items: center;
    font-family: chawp;
	height: 100px;
	margin-top: 20px;
}

.answerInput {
	/*margin: 5px 0;*/
}
